<ion-view view-title="{{ 'ABOUT_US_NAVBAR_TITLE' | translate }}">
	<ion-content>
		<img class="about-us-img" src="img/jitka_demuth.jpg" alt="jitka demuth">
		<div class="row">
			<div class="col">
				<p class="align-justify">
					<strong translate="ABOUT_US_TEAM_JITKA_HEADLINE">
						MMag. Jitka Demuth
					</strong><br />
					<span class="about-us-title" translate="ABOUT_US_TEAM_JITKA_POSITION">
						Head of Science
					</span><br /><br />
					<span translate="ABOUT_US_TEAM_JITKA_TEXT">
						MMag. Jitka Demuth ist seit mehr als 10. Jahren Leiterin der DEMPraxis in Wiener Neustadt. Sie hat in Prag an der Karls-Universität Biologie und Sportwissenschaft studiert und auch das Studium der Rehabilitation erfolgreich abgeschlossen, ebenfalls an der Karls-Universität.<br /><br /> In ihrer Praxis behandelt sie Patienten mit verschiedenen Erkrankungen am Bewegungsapparat.<br /><br />
						Mag. Demuth betreut außerdem mehrere Spitzensportler, etwa vom ÖSV-Kader, Athleten des Triathlon Nationalteams und Hoffnungen des Judo Nationalteams von denen sich einige im Projekt-Rio 2016, Österreichs offiziellem Spitzen- sportförderprogramm für die Olympischen Spiele 2016,  befinden. Alle Athleten sind in diversen Europacups, Weltcups bzw. Europa-, Weltmeisterschaften im Einsatz wo sie sich in der internationalen Spitze etabliert haben und große gute Erfolge feiern können. 
					</span>
				</p>
			</div>
		</div>
		<br />
		<img class="about-us-img" src="img/peter_biro.jpg" alt="peter biro">
		<div class="row">
			<div class="col">
				
				<p class="align-justify">
					<strong translate="ABOUT_US_TEAM_PETER_HEADLINE">
						Peter Biro, MSc
					</strong><br />
					<span class="about-us-title" translate="ABOUT_US_TEAM_PETER_POSITION">
						Head of Business
					</span><br /><br />
					<span translate="ABOUT_US_TEAM_PETER_TEXT">
						Peter holds a Master’s degree in Finance and a Bachelor’s degree in Marketing and Sales. Combining these two degrees, Peter finds his greatest passion in business development and is responsible for the coherent operations and strategy development of Moovery. In his free time Peter enjoys travelling; his favorite way to get to know new places is “through the eyes of locals”. Born in Pécs, Hungary he has lived and studied in Austria, the US, and South Korea.
					</span>
				</p>
			</div>
		</div>
		<br />
		<img class="about-us-img" src="img/christian_eder.jpg" alt="christian eder">
		<div class="row">
			<div class="col">
				
				<p class="align-justify">
					<strong translate="ABOUT_US_TEAM_CHRISTIAN_HEADLINE">
						Christian Eder
					</strong><br />
					<span class="about-us-title" translate="ABOUT_US_TEAM_CHRISTIAN_POSITION">
						Head of Technology
					</span><br /><br />
					<span translate="ABOUT_US_TEAM_CHRISTIAN_TEXT">
						Christian skipped a class in commercial high school and founded a youth magazine that he scaled to 25k monthly readers and 23 editors within 8 months while just being 17.<br /><br />He built weavly.com, a new kind of online video service for which he was chosen out of over 1.400 applicants to be part of Startupbootcamp, one of the world’s most renowned startup accelerators (investment & mentorship program). Christian was also part of capsule.fm, an artificial news app that became the #1 best selling news app in 21 countries, including US, UK, Germany, Japan and Norway. <br /><br />He is the youngest person ever to have received the Innovation Award of the City of Vienna. He held keynotes in front of 500+ audiences in Berlin, London and Vienna. Christian is used to take hits and carry on as a left wing player in ice hockey.
					</span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 translate="ABOUT_US_ACKNOWLEDGMENT_HEADLINE">
					Acknowledgment
				</h4>
				<p translate="ABOUT_US_ACKNOWLEDGMENT_TEXT_1">
					Thanks to Jan Waldner and Karoline Waldner for sweating and doing an awesome job. Thanks to Reka Salekovics and Sarah Kuderer for being creative and Patricia Eiböck and Florian Eder for lending hands.
				</p>
				<p translate="ABOUT_US_ACKNOWLEDGMENT_TEXT_2">
					Very special thanks to Günter Eder for countless hours of Photoshop.
				</p>
				<p translate="ABOUT_US_ACKNOWLEDGMENT_TEXT_3">
					Christian also wants to thank <a href="http://startupbootcamp.org" target="new">Startupbootcamp</a> as well as U2 and Depeche Mode for their inspiration.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 translate="ABOUT_US_VERSION_HEADLINE">
					Version
				</h4>
				<p translate="ABOUT_US_VERSION_TEXT">
					This is version 1.0.0 released on XXX.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>