<ion-view view-title="{{'FORGOT_PASSWORD_NAVBAR_TITLE' | translate}}">
	<ion-content class="forgot-password-background login-form">
		<div class="login-form-wrapper">
			<form name="askMailForm" ng-controller="ResetPasswordCtrl" class="width-70">
				<label class="item item-input centered-with-icon border-radius-top border-radius-bottom">
					<input type="email" name="input" ng-model="email" placeholder="{{'SIGN_IN_INPUT_EMAIL_ADDRESS' | translate}}"  overwrite-email required>
					<i class="icon ion-checkmark balanced padding-right" ng-show="askMailForm.$valid">
					</i>
					<i class="icon ion-close assertive padding-right" ng-show="askMailForm.input.$error.email">
					</i>
				</label>
				<button ng-disabled="askMailForm.$invalid" class="button button-block button-assertive" ng-click="resetPassword()">
					<strong translate="FORGOT_PASSWORD_BUTTON_RESET">
						Reset
					</strong>
				</button>
			</form>
		</div>
	</ion-content>
</ion-view>