<ion-view view-title="{{ 'INSTANT_EXERCISE_AREA_NAVBAR_TITLE' | translate }}">
	<ion-content>
		<div class="list area">
			<a class="item area-card" translate="INSTANT_EXERCISE_AREA_NECK" ui-sref="tabs.instantarea_neck">
			</a>
			<a class="item area-card" translate="INSTANT_EXERCISE_AREA_ARMS" ui-sref="tabs.instantarea_arms">
			</a>
			<a class="item area-card" translate="INSTANT_EXERCISE_AREA_TRUNK" ui-sref="tabs.instantarea_trunk">
			</a>
			<a class="item area-card" translate="INSTANT_EXERCISE_AREA_LEGS" ui-sref="tabs.instantarea_legs">
			</a>
		</div>
	</ion-content>
</ion-view>