<ion-view view-title="{{ 'INSTANT_EXERCISE_AREA_LEGS_NAVBAR_TITLE' | translate }}">
	<ion-content ng-controller="InstantExercisesController">
		<topm-videogular-directive config="config" data="legExercises[0]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[1]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[2]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[3]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[4]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[5]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[6]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[7]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[8]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[9]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[10]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[11]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="legExercises[12]"></topm-videogular-directive>
	</ion-content>
</ion-view>