<ion-view view-title="{{ 'INSTANT_EXERCISE_AREA_NECK_NAVBAR_TITLE' | translate }}">
	<ion-content ng-controller="InstantExercisesController">
		<topm-videogular-directive config="config" data="neckExercises[0]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[1]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[2]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[3]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[4]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[5]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[6]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[7]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[8]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[9]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[10]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[11]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="neckExercises[12]"></topm-videogular-directive>
	</ion-content>
</ion-view>