<ion-view view-title="{{ 'INSTANT_EXERCISE_AREA_TRUNK_NAVBAR_TITLE' | translate }}">
	<ion-content ng-controller="InstantExercisesController">
		<topm-videogular-directive config="config" data="trunkExercises[0]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[1]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[2]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[3]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[4]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[5]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[6]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[7]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[8]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[9]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[10]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[11]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[12]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[13]"></topm-videogular-directive>
		<topm-videogular-directive config="config" data="trunkExercises[14]"></topm-videogular-directive>
	</ion-content>
</ion-view>